@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to my online library!</h2>
<p>Please navigate to "Product Master" if you would like to add a product or to "User Master" if you would like to register a user.</p>
<a href="https://github.com/pkyurkchiev/distributed-applications-cs/blob/master/tasks/task.pdf"><img src="https://i.imgflip.com/2w6qoo.jpg" /> </a>